@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	/* custom name */
	font-family: "OpenSauce-Bold";
	/* actual name */
	src: local("OpenSauceOne-Bold"),
		url("./assets/fonts/OpenSauceOne-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "OpenSauce-Light";
	src: local("OpenSauceOne-Light"),
		url("./assets/fonts/OpenSauceOne-Light.ttf") format("truetype");
}

@font-face {
	font-family: "MontrealMedium";
	font-style: normal;
	font-weight: normal;
	src: local("PP Neue Montreal Medium"),
		url("./assets/fonts/ppneuemontreal-medium.woff") format("woff");
}

@font-face {
	font-family: "MontrealBold";
	font-style: normal;
	font-weight: normal;
	src: local("PP Neue Montreal Bold"),
		url("./assets/fonts/ppneuemontreal-bold.woff") format("woff");
}
/* Grotesque */
@font-face {
	font-family: "OverusedGrotesk-Bold";
	font-style: OverusedGrotesk-Bold;
	src: local("OverusedGrotesk-Bold"),
		url("./assets/fonts/OverusedGrotesk-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "OverusedGrotesk-Light";
	font-style: OverusedGrotesk-Light;
	src: local("OverusedGrotesk-Light"),
		url("./assets/fonts/OverusedGrotesk-Light.ttf") format("truetype");
}

@font-face {
	font-family: "OverusedGrotesk-ExtraBold";
	font-style: OverusedGrotesk-ExtraBold;
	src: local("OverusedGrotesk-ExtraBold"),
		url("./assets/fonts/OverusedGrotesk-ExtraBold.ttf") format("truetype");
}

.text-hover {
	@apply hover:text-lightWhite transition-colors duration-300;
}

html {
	scroll-behavior: smooth;
}
